<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/random/700x600/?superheroes);">
  <div class="container">
    <h1>Marketidols</h1>
    <p>Find and get all the most renowned heroes worldwide in one unique place!</p>
    <% if user_signed_in? %>
      <%= link_to new_idol_path, class: "text-decoration-none" do %>
        <button class="btn btn-outline-success my-2 my-sm-0 ms-2" type="submit"><i class="fa-solid fa-plus"></i> Create your Idol</button>
      <% end %>
    <% else %>
      <%# <p>Create an account with us or login if you're already a member</p> %>
      <%= link_to "Login", new_user_session_path, class: "btn btn-outline-primary btn-block my-2 my-sm-0 ms-2 w-25" %>
      <%= link_to "Sign-In", new_user_registration_path, class: "btn btn-outline-primary my-2 my-sm-0 ms-2 w-25" %>
    <% end %>
  </div>
</div>

<div class="container">
  <%# <%= cl_image_tag("gwuzcu6sxcc4xnprecuy",
      width: 400, height: 300, crop: :fill) %>
</div>
