<div class="container">

  <h1>Marketidols</h1>
  <p>Encontre e adquira os heróis mais renomados do mundo inteiro em um só lugar</p>

  <%# <%= cl_image_tag("gwuzcu6sxcc4xnprecuy",
      width: 400, height: 300, crop: :fill) %>
</div>
