<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/random/700x600/?superheroes);">
  <div class="container">
    <% if user_signed_in? %>
    <div class="text-center">
      <h1 class="mb-2">Marketidols</h1>
      <p style="margin: auto">Welcome to MarketIdols! We are very glad to have you with us today.</p>
      <p><span data-controller="typed-js"></span></p>
        <%= link_to new_idol_path, class: "text-decoration-none" do %>
          <button class="btn btn-outline-success my-2 my-sm-0 ms-2" type="submit"><i class="fa-solid fa-plus"></i> Create your Idol</button>
        <% end %>
    </div>
    <% else %>
      <h1>Marketidols</h1>
      <p><span data-controller="typed-js"></span></p>
      <%# <p>Create an account with us or login if you're already a member</p> %>
      <%= link_to "Login", new_user_session_path, class: "btn btn-outline-primary btn-block my-2 my-sm-0 ms-2 w-25" %>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-outline-primary my-2 my-sm-0 ms-2 w-25" %>
    <% end %>
  </div>
</div>

<%# <div class="container">
  <%# <%= cl_image_tag("gwuzcu6sxcc4xnprecuy",
      width: 400, height: 300, crop: :fill) %>
<%# </div> %>
<div class="footer">
  <div class="footer-links">
    <a href="https://github.com"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
    <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Marketidols was made with <i class="fas fa-heart"></i> by Bruno Allevato and Carlos Ferrer
  </div>
</div>
